<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fastly.jsdelivr.net/npm/vant@3/lib/index.css"
    />
  </head>
  <!-- 引入 Vue 和 Vant 的 JS 文件 -->
  <script src="https://fastly.jsdelivr.net/npm/vue@3"></script>
  <script src="https://fastly.jsdelivr.net/npm/vant@3/lib/vant.min.js"></script>

  <body>
    <div id="app"></div>
    <div v-for="ite"></div>
  </body>

  <script>
    // 在 #app 标签下渲染一个按钮组件
    const app = Vue.createApp({
      template: ` <van-collapse v-model="activeNames">
      <van-collapse-item v-for="(item, index) in dataList" :key="index" :title="item.name" :name="item.name">
        <van-cell v-for="(v, i) in item.children" :key="i" :title="v.name">
          <div>
            {{ v.price }}
          </div>
          <van-stepper v-model="v.num" :min="0" :max="v.limit" />
        </van-cell>
      </van-collapse-item>
    </van-collapse>
    <van-button type="primary" style="width: 100%" @click="submit">
      生成数据
    </van-button>
    <br />
    <br />
    {{res}}
    <br />
    <br />
    `,
      methods: {
        submit() {
          const result = [];
          this.dataList.forEach((item) => {
            const cn = item.children.map((v) => v.num);
            if (cn.length && cn.filter((i) => i > 0).length) {
              result.push(cn);
            } else {
              result.push(null);
            }
          });
          this.copyToClipboard(JSON.stringify(result));
          this.res = JSON.stringify(result);
          // vant.Toast("已复制到剪切版,若复制失败在下方手动复制");
        },
        copyToClipboard(code) {
          const textAreaElement = document.createElement("textarea");
          textAreaElement.value = code;
          textAreaElement.setAttribute("readonly", "");
          textAreaElement.style.position = "absolute";
          textAreaElement.style.top = "-9999px";
          document.body.appendChild(textAreaElement);
          textAreaElement.select();
          document.execCommand("copy");
          document.body.removeChild(textAreaElement);
        },
      },
      data() {
        return {
          res: "",
          activeNames: [],
          mpc: 5,
          dataList: [
            {
              name: "杨少雄",
              id: 1,
              children: [
                {
                  name: "钢管X1",
                  price: "简易绷带X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "割裂X1",
                  price: "简易绷带XNaN",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "手枪精准射击X1",
                  price: "简易绷带X30",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "王酷",
              id: 7,
              children: [
                {
                  name: "健身ⅠX1",
                  price: "兽筋X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "抓捕X1",
                  price: "白蘑菇X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "蓄力箭X1",
                  price: "兽筋X30",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "周文远",
              id: 10,
              children: [
                {
                  name: "刀具生产X1",
                  price: "野果X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "防具生产X1",
                  price: "野果XNaN",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "吴建国",
              id: 2,
              children: [
                {
                  name: "金属加工技巧X1",
                  price: "塑料X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "铁块X1",
                  price: "塑料X10",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "铁钉X1",
                  price: "塑料X15",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "机械零件X1",
                  price: "南瓜汤X10",
                  num: 0,
                  limit: 5,
                },
              ],
            },
            {
              name: "萧老头",
              id: 31,
              children: [],
            },
            {
              name: "吴倩",
              id: 3,
              children: [
                {
                  name: "瑜伽ⅠX1",
                  price: "肉干X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "瑜伽ⅡX1",
                  price: "肉干X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "瑜伽ⅢX1",
                  price: "蜜香南瓜X50",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "郑永信",
              id: 8,
              children: [
                {
                  name: "木工X1",
                  price: "变异利齿Ⅰ型X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "弓制作X1",
                  price: "变异利齿Ⅰ型X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "反应力ⅠX1",
                  price: "变异利齿Ⅰ型X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "硬木X1",
                  price: "变异利齿Ⅰ型X10",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "精加工木板X1",
                  price: "变异利齿Ⅰ型X10",
                  num: 0,
                  limit: 5,
                },
              ],
            },
            {
              name: "艾米丽",
              id: 34,
              children: [],
            },
            {
              name: "赵德富",
              id: 4,
              children: [
                {
                  name: "野外烹饪大师X1",
                  price: "丧尸耳朵X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "大胃王ⅠX1",
                  price: "香料X15",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "酒X1",
                  price: "丧尸耳朵X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "香料X1",
                  price: "虾X1",
                  num: 0,
                  limit: 10,
                },
                {
                  name: "精力旺盛ⅠX1",
                  price: "红土豆X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "高级香料X2",
                  price: "鱼X10",
                  num: 0,
                  limit: 5,
                },
              ],
            },
            {
              name: "王帅",
              id: 5,
              children: [
                {
                  name: "子弹制作X1",
                  price: "变异血液Ⅰ型X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "快速撤退X1",
                  price: "变异血液Ⅰ型X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "手枪制作X1",
                  price: "变异血液Ⅰ型X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "步枪制作X1",
                  price: "变异血液Ⅰ型X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "体能恢复X1",
                  price: "变异血液Ⅰ型X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "步枪快速射击X1",
                  price: "变异血液Ⅰ型X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "投掷物制作X1",
                  price: "变异血液Ⅰ型X50",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "李青云",
              id: 32,
              children: [
                {
                  name: "活力因子ⅠX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "大胃王ⅡX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "精力旺盛ⅡX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "反应力ⅡX1",
                  price: "破旧书籍X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "健身ⅢX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "反应力ⅢX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "田径健将X1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "尼奥教你躲子弹X1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "格斗大师X1",
                  price: "破旧书籍X60",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "弓箭精通X1",
                  price: "破旧书籍X60",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "手枪精通X1",
                  price: "破旧书籍X60",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "步枪精通X1",
                  price: "破旧书籍X60",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "投掷武器精通X1",
                  price: "破旧书籍X60",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "防御精通X1",
                  price: "破旧书籍X120",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "活力因子ⅡX1",
                  price: "破旧书籍X150",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "格斗技巧ⅡX1",
                  price: "破旧书籍X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "格斗技巧ⅢX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "弓的射击艺术ⅡX1",
                  price: "破旧书籍X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "弓的射击艺术ⅢX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "手枪射击技巧ⅠX1",
                  price: "破旧书籍X15",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "手枪射击技巧ⅡX1",
                  price: "破旧书籍X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "手枪射击技巧ⅢX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "步兵作战指南ⅠX1",
                  price: "破旧书籍X15",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "步兵作战指南ⅡX1",
                  price: "破旧书籍X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "步兵作战指南ⅢX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "艺术就是爆炸ⅠX1",
                  price: "破旧书籍X15",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "艺术就是爆炸ⅡX1",
                  price: "破旧书籍X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "艺术就是爆炸ⅢX1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "致残X1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "狙击X1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "爆头X1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "体能恢复X1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "快速闪躲X1",
                  price: "破旧书籍X50",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "刘衍",
              id: 14,
              children: [
                {
                  name: "冲锋X1",
                  price: "草X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "固守X1",
                  price: "宠物经验书X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "撕裂X1",
                  price: "玉米X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "强攻X1",
                  price: "宠物经验书X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "猎人之心X1",
                  price: "紫玉米X50",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "撕裂X1",
                  price: "宠物技能残页X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "横扫X1",
                  price: "宠物技能残页X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "殊死一击X1",
                  price: "宠物技能残页X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "浴血X1",
                  price: "宠物技能残页X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "固守X1",
                  price: "宠物技能残页X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "强攻X1",
                  price: "宠物技能残页X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "闪躲X1",
                  price: "宠物技能残页X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "敏锐X1",
                  price: "宠物技能残页X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "嗜血X1",
                  price: "宠物技能残页X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "狂暴X1",
                  price: "宠物技能残页X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "献祭X1",
                  price: "宠物技能残页X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "助战X1",
                  price: "宠物技能残页X90",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "协防X1",
                  price: "宠物技能残页X90",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "宠物礼包X1",
                  price: "S宠物牌X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "SS级白狼王X1",
                  price: "SS宠物牌X3",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "SS级狗子X1",
                  price: "SS宠物牌X3",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "SS级独眼X1",
                  price: "SS宠物牌X3",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "SS级海雕X1",
                  price: "SS宠物牌X3",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "SS级毒牙X1",
                  price: "SS宠物牌X3",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "杨一心",
              id: 9,
              children: [
                {
                  name: "酒精X1",
                  price: "肉X5",
                  num: 0,
                  limit: 30,
                },
                {
                  name: "塑料瓶X1",
                  price: "肉X1",
                  num: 0,
                  limit: 20,
                },
                {
                  name: "农作物种植X1",
                  price: "肉X15",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "玉米种子X5",
                  price: "肉X10",
                  num: 0,
                  limit: 30,
                },
                {
                  name: "土制猎枪X1",
                  price: "紫玉米X20",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "萧老头",
              id: 31,
              children: [],
            },
            {
              name: "G教授",
              id: 35,
              children: [
                {
                  name: "酒X1",
                  price: "巨蟒血液X1",
                  num: 0,
                  limit: 2,
                },
                {
                  name: "工具钢X1",
                  price: "巨蟒血液X1",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "高性能纤维X1",
                  price: "巨蟒血液X3",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "优质硬木X1",
                  price: "巨蟒血液X3",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "高级塑料X1",
                  price: "巨蟒血液X3",
                  num: 0,
                  limit: 5,
                },
              ],
            },
            {
              name: "楚毅",
              id: 19,
              children: [
                {
                  name: "火药X1",
                  price: "变异血液Ⅱ型X1",
                  num: 0,
                  limit: 30,
                },
                {
                  name: "矿石X2",
                  price: "变异利齿Ⅱ型X1",
                  num: 0,
                  limit: 20,
                },
                {
                  name: "铜X1",
                  price: "变异血液Ⅱ型X1",
                  num: 0,
                  limit: 20,
                },
                {
                  name: "铅块X1",
                  price: "变异利齿Ⅱ型X1",
                  num: 0,
                  limit: 20,
                },
                {
                  name: "钢管X1",
                  price: "变异利齿Ⅱ型X2",
                  num: 0,
                  limit: 8,
                },
                {
                  name: "工具钢X1",
                  price: "变异血液Ⅱ型X8",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "手枪配件X1",
                  price: "变异血液Ⅱ型X10",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "爆头X1",
                  price: "变异血液Ⅱ型X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "步枪配件X1",
                  price: "变异血液Ⅱ型X15",
                  num: 0,
                  limit: 5,
                },
              ],
            },
            {
              name: "张博",
              id: 11,
              children: [
                {
                  name: "药剂师X1",
                  price: "药草X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "止痛药X1",
                  price: "药草X30",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "特效抗生素X1",
                  price: "高级药草X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "肾上腺素X1",
                  price: "高级药草X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "酒精X2",
                  price: "狂暴结晶X1",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "医学X1",
                  price: "高级药草X60",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "赵云飞",
              id: 36,
              children: [
                {
                  name: "枪斗术X1",
                  price: "变异血液Ⅲ型X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "致残X1",
                  price: "变异血液Ⅲ型X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "狙击X1",
                  price: "变异血液Ⅲ型X15",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "神射手X1",
                  price: "变异血液Ⅲ型X20",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "卓一航",
              id: 16,
              children: [
                {
                  name: "破甲X1",
                  price: "变异利齿Ⅱ型X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "健身ⅡX1",
                  price: "变异利齿Ⅱ型X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "快速闪躲X1",
                  price: "变异利齿Ⅱ型X15",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "盾精通X1",
                  price: "变异利齿Ⅲ型X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "黑框眼镜X1",
                  price: "宝石胡萝卜X5",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "王轩",
              id: 21,
              children: [
                {
                  name: "铁块X2",
                  price: "变异利齿Ⅲ型X1",
                  num: 0,
                  limit: 10,
                },
                {
                  name: "酒精X2",
                  price: "变异利齿Ⅲ型X1",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "羽箭X5",
                  price: "变异利齿Ⅲ型X1",
                  num: 0,
                  limit: 30,
                },
                {
                  name: "手枪子弹X5",
                  price: "变异血液Ⅲ型X2",
                  num: 0,
                  limit: 20,
                },
                {
                  name: "步枪子弹X4",
                  price: "变异血液Ⅲ型X2",
                  num: 0,
                  limit: 20,
                },
              ],
            },
            {
              name: "刘文",
              id: 37,
              children: [],
            },
            {
              name: "镰刀",
              id: 39,
              children: [
                {
                  name: "活力基因药剂X1",
                  price: "变异组织Ⅰ型X10",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "活力基因药剂X2",
                  price: "变异组织Ⅱ型X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "活力基因药剂X3",
                  price: "变异组织Ⅲ型X2",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "高级塑料X1",
                  price: "变异组织Ⅰ型X2",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "高级布料X1",
                  price: "变异组织Ⅱ型X2",
                  num: 0,
                  limit: 2,
                },
                {
                  name: "肾上腺素X1",
                  price: "变异组织Ⅲ型X2",
                  num: 0,
                  limit: 5,
                },
              ],
            },
            {
              name: "老鼠",
              id: 42,
              children: [],
            },
            {
              name: "朱天启",
              id: 44,
              children: [
                {
                  name: "手枪制作X1",
                  price: "变异利齿Ⅳ型X1",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "步枪制作X1",
                  price: "变异利齿Ⅳ型X1",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "羽箭X20",
                  price: "变异利齿Ⅳ型X1",
                  num: 0,
                  limit: 10,
                },
                {
                  name: "手枪子弹X20",
                  price: "变异利齿Ⅳ型X2",
                  num: 0,
                  limit: 10,
                },
                {
                  name: "步枪子弹X20",
                  price: "变异利齿Ⅳ型X2",
                  num: 0,
                  limit: 10,
                },
              ],
            },
            {
              name: "鬣狗",
              id: 45,
              children: [
                {
                  name: "酒精X5",
                  price: "变异血液Ⅳ型X1",
                  num: 0,
                  limit: 5,
                },
                {
                  name: "抗辐射药剂X1",
                  price: "变异血液Ⅳ型X1",
                  num: 0,
                  limit: 4,
                },
                {
                  name: "抗辐射基因药剂X1",
                  price: "变异血液Ⅳ型X2",
                  num: 0,
                  limit: 3,
                },
              ],
            },
            {
              name: "李芸",
              children: [],
            },
            {
              name: "山鸡",
              children: [],
            },
            {
              name: "李少尉",
              id: 43,
              children: [
                {
                  name: "防具配件模具碎片X1",
                  price: "丧尸耳朵X10",
                  num: 0,
                  limit: 2,
                },
                {
                  name: "武器配件模具碎片X1",
                  price: "丧尸耳朵X20",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "防具配件模具碎片X1",
                  price: "变异利齿Ⅲ型X5",
                  num: 0,
                  limit: 1,
                },
                {
                  name: "武器配件模具碎片X1",
                  price: "变异血液Ⅲ型X5",
                  num: 0,
                  limit: 1,
                },
              ],
            },
            {
              name: "沈灵",
              children: [],
            },
          ],
        };
      },
    });
    app.use(vant);
    app.mount("#app");
  </script>
</html>
