<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fastly.jsdelivr.net/npm/vant@3/lib/index.css"
    />
  </head>
  <!-- 引入 Vue 和 Vant 的 JS 文件 -->
  <script src="https://fastly.jsdelivr.net/npm/vue@3"></script>
  <script src="https://fastly.jsdelivr.net/npm/vant@3/lib/vant.min.js"></script>

  <body>
    <div id="app"></div>
    <div v-for="ite"></div>
  </body>

  <script>
    // 在 #app 标签下渲染一个按钮组件
    const app = Vue.createApp({
      template: ` <van-collapse v-model="activeNames">
      <van-collapse-item v-for="(item, index) in dataList" :key="index" :title="item.name" :name="item.name">
        <van-cell v-for="(v, i) in item.children" :key="i" :title="v.name">
          <div>
            {{ v.price }}
          </div>
          <van-stepper v-model="v.num" :min="0" :max="v.limit" />
        </van-cell>
      </van-collapse-item>
    </van-collapse>
    <van-button type="primary" style="width: 100%" @click="submit">
      生成数据
    </van-button>
    <br />
    <br />
    {{res}}
    <br />
    <br />
    `,
      methods: {
        submit() {
          const result = [];
          this.dataList.forEach((item) => {
            const cn = item.children.map((v) => v.num);
            if (cn.length && cn.filter((i) => i > 0).length) {
              result.push(cn);
            } else {
              result.push(null);
            }
          });
          this.copyToClipboard(JSON.stringify(result));
          this.res = JSON.stringify(result);
          // vant.Toast("已复制到剪切版,若复制失败在下方手动复制");
        },
        copyToClipboard(code) {
          const textAreaElement = document.createElement("textarea");
          textAreaElement.value = code;
          textAreaElement.setAttribute("readonly", "");
          textAreaElement.style.position = "absolute";
          textAreaElement.style.top = "-9999px";
          document.body.appendChild(textAreaElement);
          textAreaElement.select();
          document.execCommand("copy");
          document.body.removeChild(textAreaElement);
        },
      },
      data() {
        return {
          res: "",
          activeNames: [],
          mpc: 5,
          dataList: [
            {
              "name": "杨少雄",
              "id": 1,
              "children": [
                {
                  "name": "钢管 × 1",
                  "price": "简易绷带 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "割裂 × 1",
                  "price": "简易绷带 × 30",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "手枪精准射击 × 1",
                  "price": "简易绷带 × 30",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "王酷",
              "id": 7,
              "children": [
                {
                  "name": "健身Ⅰ × 1",
                  "price": "兽筋 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "抓捕 × 1",
                  "price": "白蘑菇 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "蓄力箭 × 1",
                  "price": "兽筋 × 30",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "周文远",
              "id": 10,
              "children": [
                {
                  "name": "刀具生产 × 1",
                  "price": "野果 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "防具生产 × 1",
                  "price": "野果 × 40",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "吴建国",
              "id": 2,
              "children": [
                {
                  "name": "金属加工技巧 × 1",
                  "price": "塑料 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "铁块 × 1",
                  "price": "塑料 × 10",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "铁钉 × 1",
                  "price": "塑料 × 15",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "机械零件 × 1",
                  "price": "南瓜汤 × 10",
                  "num": 0,
                  "limit": 5
                }
              ]
            },
            {
              "name": "萧老头",
              "id": 31,
              "children": []
            },
            {
              "name": "吴倩",
              "id": 3,
              "children": [
                {
                  "name": "瑜伽Ⅰ × 1",
                  "price": "肉干 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "瑜伽Ⅱ × 1",
                  "price": "肉干 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "瑜伽Ⅲ × 1",
                  "price": "蜜香南瓜 × 50",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "郑永信",
              "id": 8,
              "children": [
                {
                  "name": "木工 × 1",
                  "price": "变异利齿Ⅰ型 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "弓制作 × 1",
                  "price": "变异利齿Ⅰ型 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "反应力Ⅰ × 1",
                  "price": "变异利齿Ⅰ型 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "硬木 × 1",
                  "price": "变异利齿Ⅰ型 × 10",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "精加工木板 × 1",
                  "price": "变异利齿Ⅰ型 × 10",
                  "num": 0,
                  "limit": 5
                }
              ]
            },
            {
              "name": "艾米丽",
              "id": 34,
              "children": []
            },
            {
              "name": "赵德富",
              "id": 4,
              "children": [
                {
                  "name": "野外烹饪大师 × 1",
                  "price": "丧尸耳朵 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "大胃王Ⅰ × 1",
                  "price": "香料 × 15",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "酒 × 1",
                  "price": "丧尸耳朵 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "香料 × 1",
                  "price": "虾 × 1",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "虾 × 1",
                  "price": "螃蟹 × 1",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "精力旺盛Ⅰ × 1",
                  "price": "红土豆 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "高级香料 × 2",
                  "price": "鱼 × 10",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "河豚 × 1",
                  "price": "鱼 × 5",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "厨艺 × 1",
                  "price": "红土豆 × 50",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "王帅",
              "id": 5,
              "children": [
                {
                  "name": "子弹制作 × 1",
                  "price": "变异血液Ⅰ型 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "快速撤退 × 1",
                  "price": "变异血液Ⅰ型 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "手枪制作 × 1",
                  "price": "变异血液Ⅰ型 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "步枪制作 × 1",
                  "price": "变异血液Ⅰ型 × 30",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "体能恢复 × 1",
                  "price": "变异血液Ⅰ型 × 50",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "步枪快速射击 × 1",
                  "price": "变异血液Ⅰ型 × 50",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "投掷物制作 × 1",
                  "price": "变异血液Ⅰ型 × 50",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "李青云",
              "id": 32,
              "children": [
                {
                  "name": "活力因子Ⅰ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "大胃王Ⅱ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "精力旺盛Ⅱ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "反应力Ⅱ × 1",
                  "price": "破旧书籍 × 20",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "健身Ⅲ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "反应力Ⅲ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "田径健将 × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "尼奥教你躲子弹 × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "格斗大师 × 1",
                  "price": "破旧书籍 × 60",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "弓箭精通 × 1",
                  "price": "破旧书籍 × 60",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "手枪精通 × 1",
                  "price": "破旧书籍 × 60",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "步枪精通 × 1",
                  "price": "破旧书籍 × 60",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "投掷武器精通 × 1",
                  "price": "破旧书籍 × 60",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "防御精通 × 1",
                  "price": "破旧书籍 × 120",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "活力因子Ⅱ × 1",
                  "price": "破旧书籍 × 150",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "格斗技巧Ⅱ × 1",
                  "price": "破旧书籍 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "格斗技巧Ⅲ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "弓的射击艺术Ⅱ × 1",
                  "price": "破旧书籍 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "弓的射击艺术Ⅲ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "手枪射击技巧Ⅰ × 1",
                  "price": "破旧书籍 × 15",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "手枪射击技巧Ⅱ × 1",
                  "price": "破旧书籍 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "手枪射击技巧Ⅲ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "步兵作战指南Ⅰ × 1",
                  "price": "破旧书籍 × 15",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "步兵作战指南Ⅱ × 1",
                  "price": "破旧书籍 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "步兵作战指南Ⅲ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "艺术就是爆炸Ⅰ × 1",
                  "price": "破旧书籍 × 15",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "艺术就是爆炸Ⅱ × 1",
                  "price": "破旧书籍 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "艺术就是爆炸Ⅲ × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "致残 × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "狙击 × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "爆头 × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "体能恢复 × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "快速闪躲 × 1",
                  "price": "破旧书籍 × 50",
                  "num": 0,
                  "limit": 0
                }
              ]
            },
            {
              "name": "刘衍",
              "id": 14,
              "children": [
                {
                  "name": "冲锋 × 1",
                  "price": "草 × 30",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "固守 × 1",
                  "price": "宠物经验书 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "撕裂 × 1",
                  "price": "玉米 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "强攻 × 1",
                  "price": "宠物经验书 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "猎人之心 × 1",
                  "price": "紫玉米 × 50",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "撕裂 × 1",
                  "price": "宠物技能残页 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "横扫 × 1",
                  "price": "宠物技能残页 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "殊死一击 × 1",
                  "price": "宠物技能残页 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "浴血 × 1",
                  "price": "宠物技能残页 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "固守 × 1",
                  "price": "宠物技能残页 × 20",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "强攻 × 1",
                  "price": "宠物技能残页 × 20",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "闪躲 × 1",
                  "price": "宠物技能残页 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "敏锐 × 1",
                  "price": "宠物技能残页 × 20",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "嗜血 × 1",
                  "price": "宠物技能残页 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "狂暴 × 1",
                  "price": "宠物技能残页 × 30",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "献祭 × 1",
                  "price": "宠物技能残页 × 20",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "助战 × 1",
                  "price": "宠物技能残页 × 90",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "协防 × 1",
                  "price": "宠物技能残页 × 90",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "宠物礼包 × 1",
                  "price": "S宠物牌 × 5",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "SS级白狼王 × 1",
                  "price": "SS宠物牌 × 3",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "SS级狗子 × 1",
                  "price": "SS宠物牌 × 3",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "SS级独眼 × 1",
                  "price": "SS宠物牌 × 3",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "SS级海雕 × 1",
                  "price": "SS宠物牌 × 3",
                  "num": 0,
                  "limit": 0
                },
                {
                  "name": "SS级毒牙 × 1",
                  "price": "SS宠物牌 × 3",
                  "num": 0,
                  "limit": 0
                }
              ]
            },
            {
              "name": "杨一心",
              "id": 9,
              "children": [
                {
                  "name": "酒精 × 1",
                  "price": "肉 × 5",
                  "num": 0,
                  "limit": 30
                },
                {
                  "name": "塑料瓶 × 1",
                  "price": "肉 × 1",
                  "num": 0,
                  "limit": 20
                },
                {
                  "name": "农作物种植 × 1",
                  "price": "肉 × 15",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "玉米种子 × 5",
                  "price": "肉 × 10",
                  "num": 0,
                  "limit": 30
                },
                {
                  "name": "土制猎枪 × 1",
                  "price": "紫玉米 × 20",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "萧老头",
              "id": 31,
              "children": []
            },
            {
              "name": "G教授",
              "id": 35,
              "children": [
                {
                  "name": "酒 × 1",
                  "price": "巨蟒血液 × 1",
                  "num": 0,
                  "limit": 2
                },
                {
                  "name": "工具钢 × 1",
                  "price": "巨蟒血液 × 1",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "高性能纤维 × 1",
                  "price": "巨蟒血液 × 3",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "优质硬木 × 1",
                  "price": "巨蟒血液 × 3",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "高级塑料 × 1",
                  "price": "巨蟒血液 × 3",
                  "num": 0,
                  "limit": 5
                }
              ]
            },
            {
              "name": "楚毅",
              "id": 19,
              "children": [
                {
                  "name": "火药 × 1",
                  "price": "变异血液Ⅱ型 × 1",
                  "num": 0,
                  "limit": 30
                },
                {
                  "name": "矿石 × 2",
                  "price": "变异利齿Ⅱ型 × 1",
                  "num": 0,
                  "limit": 20
                },
                {
                  "name": "铜 × 1",
                  "price": "变异血液Ⅱ型 × 1",
                  "num": 0,
                  "limit": 20
                },
                {
                  "name": "铅块 × 1",
                  "price": "变异利齿Ⅱ型 × 1",
                  "num": 0,
                  "limit": 20
                },
                {
                  "name": "钢管 × 1",
                  "price": "变异利齿Ⅱ型 × 2",
                  "num": 0,
                  "limit": 8
                },
                {
                  "name": "工具钢 × 1",
                  "price": "变异血液Ⅱ型 × 8",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "手枪配件 × 1",
                  "price": "变异血液Ⅱ型 × 10",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "爆头 × 1",
                  "price": "变异血液Ⅱ型 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "步枪配件 × 1",
                  "price": "变异血液Ⅱ型 × 15",
                  "num": 0,
                  "limit": 5
                }
              ]
            },
            {
              "name": "张博",
              "id": 11,
              "children": [
                {
                  "name": "药剂师 × 1",
                  "price": "药草 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "止痛药 × 1",
                  "price": "药草 × 30",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "特效抗生素 × 1",
                  "price": "高级药草 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "肾上腺素 × 1",
                  "price": "高级药草 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "酒精 × 2",
                  "price": "狂暴结晶 × 1",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "医学 × 1",
                  "price": "高级药草 × 60",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "赵云飞",
              "id": 36,
              "children": [
                {
                  "name": "枪斗术 × 1",
                  "price": "变异血液Ⅲ型 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "致残 × 1",
                  "price": "变异血液Ⅲ型 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "狙击 × 1",
                  "price": "变异血液Ⅲ型 × 15",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "神射手 × 1",
                  "price": "变异血液Ⅲ型 × 20",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "卓一航",
              "id": 16,
              "children": [
                {
                  "name": "破甲 × 1",
                  "price": "变异利齿Ⅱ型 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "健身Ⅱ × 1",
                  "price": "变异利齿Ⅱ型 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "快速闪躲 × 1",
                  "price": "变异利齿Ⅱ型 × 15",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "盾精通 × 1",
                  "price": "变异利齿Ⅲ型 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "黑框眼镜 × 1",
                  "price": "宝石胡萝卜 × 5",
                  "num": 0,
                  "limit": 1
                }
              ]
            },
            {
              "name": "王轩",
              "id": 21,
              "children": [
                {
                  "name": "铁块 × 2",
                  "price": "变异利齿Ⅲ型 × 1",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "酒精 × 2",
                  "price": "变异利齿Ⅲ型 × 1",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "羽箭 × 5",
                  "price": "变异利齿Ⅲ型 × 1",
                  "num": 0,
                  "limit": 30
                },
                {
                  "name": "手枪子弹 × 5",
                  "price": "变异血液Ⅲ型 × 2",
                  "num": 0,
                  "limit": 20
                },
                {
                  "name": "步枪子弹 × 4",
                  "price": "变异血液Ⅲ型 × 2",
                  "num": 0,
                  "limit": 20
                }
              ]
            },
            {
              "name": "刘文",
              "id": 37,
              "children": []
            },
            {
              "name": "Z博士",
              "id": 38,
              "children": []
            },
            {
              "name": "镰刀",
              "id": 39,
              "children": [
                {
                  "name": "活力基因药剂 × 1",
                  "price": "变异组织Ⅰ型 × 10",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "活力基因药剂 × 2",
                  "price": "变异组织Ⅱ型 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "活力基因药剂 × 3",
                  "price": "变异组织Ⅲ型 × 2",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "高级塑料 × 1",
                  "price": "变异组织Ⅰ型 × 2",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "高级布料 × 1",
                  "price": "变异组织Ⅱ型 × 2",
                  "num": 0,
                  "limit": 2
                },
                {
                  "name": "肾上腺素 × 1",
                  "price": "变异组织Ⅲ型 × 2",
                  "num": 0,
                  "limit": 5
                }
              ]
            },
            {
              "name": "老鼠",
              "id": 42,
              "children": []
            },
            {
              "name": "朱天启",
              "id": 44,
              "children": [
                {
                  "name": "手枪制作 × 1",
                  "price": "变异利齿Ⅳ型 × 1",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "步枪制作 × 1",
                  "price": "变异利齿Ⅳ型 × 1",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "羽箭 × 20",
                  "price": "变异利齿Ⅳ型 × 1",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "手枪子弹 × 20",
                  "price": "变异利齿Ⅳ型 × 2",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "步枪子弹 × 20",
                  "price": "变异利齿Ⅳ型 × 2",
                  "num": 0,
                  "limit": 10
                }
              ]
            },
            {
              "name": "鬣狗",
              "id": 45,
              "children": [
                {
                  "name": "酒精 × 5",
                  "price": "变异血液Ⅳ型 × 1",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "抗辐射药剂 × 1",
                  "price": "变异血液Ⅳ型 × 1",
                  "num": 0,
                  "limit": 4
                },
                {
                  "name": "抗辐射基因药剂 × 1",
                  "price": "变异血液Ⅳ型 × 2",
                  "num": 0,
                  "limit": 3
                },
                {
                  "name": "高级工具钢 × 1",
                  "price": "工具钢 × 5",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "高级零件 × 1",
                  "price": "机械零件 × 5",
                  "num": 0,
                  "limit": 10
                }
              ]
            },
            {
              "name": "李芸",
              "id": 47,
              "children": []
            },
            {
              "name": "李芸",
              "id": 48,
              "children": [
                {
                  "name": "酒精 × 5",
                  "price": "变异组织Ⅳ型 × 1",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "羽箭 × 20",
                  "price": "变异组织Ⅳ型 × 1",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "手枪子弹 × 20",
                  "price": "变异组织Ⅳ型 × 2",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "步枪子弹 × 20",
                  "price": "变异组织Ⅳ型 × 2",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "活力基因药剂Ⅱ型 × 1",
                  "price": "变异组织Ⅳ型 × 2",
                  "num": 0,
                  "limit": 3
                },
                {
                  "name": "精密零件 × 1",
                  "price": "高级零件 × 3",
                  "num": 0,
                  "limit": 3
                },
                {
                  "name": "花纹钢 × 1",
                  "price": "高级工具钢 × 3",
                  "num": 0,
                  "limit": 3
                }
              ]
            },
            {
              "name": "山鸡",
              "id": 49,
              "children": []
            },
            {
              "name": "朱天启",
              "id": 50,
              "children": []
            },
            {
              "name": "古铁",
              "id": 52,
              "children": [
                {
                  "name": "酒精 × 8",
                  "price": "变异血液Ⅴ型 × 1",
                  "num": 0,
                  "limit": 5
                },
                {
                  "name": "羽箭 × 30",
                  "price": "变异血液Ⅴ型 × 1",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "手枪子弹 × 30",
                  "price": "变异血液Ⅴ型 × 2",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "步枪子弹 × 30",
                  "price": "变异血液Ⅴ型 × 2",
                  "num": 0,
                  "limit": 10
                },
                {
                  "name": "活力因子增强药剂 × 1",
                  "price": "变异血液Ⅴ型 × 2",
                  "num": 0,
                  "limit": 3
                },
                {
                  "name": "钛合金 × 1",
                  "price": "特种合金 × 3",
                  "num": 0,
                  "limit": 3
                },
                {
                  "name": "特种面料 × 1",
                  "price": "高级布料 × 3",
                  "num": 0,
                  "limit": 3
                },
                {
                  "name": "增强塑料 × 1",
                  "price": "高级塑料 × 3",
                  "num": 0,
                  "limit": 6
                }
              ]
            },
            {
              "name": "李少尉",
              "id": 43,
              "children": [
                {
                  "name": "防具配件模具碎片 × 1",
                  "price": "丧尸耳朵 × 10",
                  "num": 0,
                  "limit": 2
                },
                {
                  "name": "武器配件模具碎片 × 1",
                  "price": "丧尸耳朵 × 20",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "防具配件模具碎片 × 1",
                  "price": "变异利齿Ⅲ型 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "武器配件模具碎片 × 1",
                  "price": "变异血液Ⅲ型 × 5",
                  "num": 0,
                  "limit": 1
                },
                {
                  "name": "战斗心得 × 1",
                  "price": "变异利齿Ⅱ型 × 10",
                  "num": 0,
                  "limit": 2
                },
                {
                  "name": "战斗心得 × 1",
                  "price": "变异血液Ⅱ型 × 10",
                  "num": 0,
                  "limit": 2
                }
              ]
            }
          ]
        };
      },
    });
    app.use(vant);
    app.mount("#app");
  </script>
</html>
